<html>
  <body >
        <h1> Hi this is my title </h1>

        <table>
                <tr>
                        <td>"1"</td>
                        <td>"it herald"</td>
                        <td>""</td>
                </tr>
        </table>

        <table>
                <tr>
                        <td>"2"</td>
                        <td>"IT STORIES"</td>
                        <td>""</td>
                </tr>
        </table>

        <table>
                <tr>
                        <td>"3"</td>
                        <td>"IT with kids"</td>
                        <td>""</td>
                </tr>
        </table>

  </body>
</html>
